.wallet{
    position: relative;
    padding: 30px;

    &__btns{
        margin: 20px;
        max-width: 600px;
        width: 100%;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }
}